body {
    background-image: url(../Images/books.jpg);
}

h1 {
    color: #ddecf5;
    text-align: center;
    display: block;
    margin: 0 auto;
    clear: both;
    padding-top: 15%;
    padding-bottom: 5px;
}

h2 {
    font-size: 20px;
    color: #ddecf5;
    text-align: center;
    display: block;
    margin: 0 auto;
    clear: both;
    padding-bottom: 20px;
}

.middleAlign {
    text-align: center;
}

    .middleAlign > input {
        width: 50%;
        height: 35px;
    }

#form-search {
    width: 450px;
    line-height: 32px;
    padding: 20px 10px;
}

.form #form-search {
    padding: 0 8px;
}

.buttons {
    text-align: center;
    padding-top: 30px;
    margin-bottom: 300px;
}

.btn {
    background-color: #fffbf7;
    height: 50px;
    width: 100px;
}

