
.book-image {
    height: 100%;
    width: 80%;
    display: block; 
    margin: 0, auto;
}

#title {
    text-decoration: underline;
    margin-bottom: 0;
}

#author {
    font-size: 15px;
    color: grey;
    margin-bottom: 2.5vh;
}

#synopsis {
    margin-bottom: 2.5vh;
}

#price{
    margin-bottom: 2.5vh;
}

.btn-add-to-cart{
    margin-top: 2.5vh;
}

.details-info{
    font-weight: bold;
}

.details-data{

}

.container{
    background-color: white;

    border-bottom: 5px;
    border-color: black;
}

.container-summary{
    padding-bottom: 2.5vh;
    padding-top: 2.5vh;
}

.container-product-details{
    margin-top: 5vh;
    padding-bottom: 2.5vh;
}